* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  box-sizing: border-box;
}
.post-cont{
  width: 75%;
  text-align:justify;
  word-break: break-word;
  white-space: pre-line;
  overflow-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.responsiveron{
  max-height: 60vh;
  overflow-y: scroll;
}


.postman-inp{
  border: 1px solid black;
}

















::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
