* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  box-sizing: border-box;
}
.post-cont{
  width: 75%;
  text-align:justify;
  word-break: break-word;
  white-space: pre-line;
  overflow-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.responsiveron{
  max-height: 60vh;
  overflow-y: scroll;
}


.postman-inp{
  border: 1px solid black;
}

.data-div-top{
  height: 15em;
  width: 15em;
  box-shadow: 0px 0px 50px 3px rgba(136, 136, 136, 0.8);
  border-radius: 50%;
  opacity: 0.75;
}

.data-div{
  height: 15em;
  width: 15em;
  box-shadow: 0px 0px 50px 3px rgba(136, 136, 136, 0.8);
  border-radius: 50%;
  margin-top: 50px;
  opacity: 0.75;
}

.data-sub-div{
  height: 13em;
  width: 13em;
  border-radius: 50%;
}

.used-accs{
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}


















::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
